@using ToDoList.ViewModels
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>
</head>
<body style="margin: 15px">
    <p>
        <a href="/Login/SignUp">SignUp</a>
    </p>
    <h2>Login Form</h2>
    <form method="post" action="Login">
        <p>
            <label>Email</label><br />
            <input name="email" />
        </p>
        <p>
            <label>Password</label><br />
            <input type="password" name="password" />
        </p>
        <input type="submit" value="Login" />
    </form>
    <h4 style="color:red">@Model?.ErrorMessage</h4>
</body>
</html>