@using ToDoList.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginData

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>
</head>
<body style="margin: 15px">
    <p>
        <a href="/Login/SignUp">SignUp</a>
    </p>
    <h2>Login Form</h2>
    <form method="post" action="Login">
        <p>
            <label asp-for="Email">Email</label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email" />
        </p>
        <p>
            <label asp-for="Password">Password</label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password" />
        </p>
        <input type="submit" value="Login" />
    </form>
    <h4 style="color:red; white-space: pre-line">@ViewBag.ErrorMessage</h4>
</body>
</html>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>