@using ToDoList.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>

    <style>
        td {
            padding: 15px;
        }

        h2, p {
            padding: 10px 40px;
        }

        div {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2 style="display: inline">Меню создания</h2>

    <form method="post" action="CreateTask" style="margin:15px 10px">
        <div>
            <label>Id:</label><br />
            <input name="id" /><br />
        </div>
        <div>
            <label>Lable:</label><br />
            <input name="lable" /><br />
        </div>
        <div>
            <label>Date:</label><br />
            <input name="Date" type="date" () /><br />
        </div>
        <div>
            <label>Time:</label><br />
            <input name="Time" type="time" />
            <br />
        </div>
        <div>
            <label>Status:</label><br />
            @Html.DropDownList("status", Html.GetEnumSelectList(typeof(ToDoList.Models.TasksStatus)))<br />
        </div>
        <div>
            <label>Priority:</label><br />
            @Html.DropDownList("priority", Html.GetEnumSelectList(typeof(Priority)))<br />
        </div>
        <div>
            <label>Description:</label><br />
            <input name="description" type="text" />
            <br />
        </div>
        <input type="submit" />
    </form>
    <h4 style="color:red; white-space: pre-line">@ViewBag.ErrorMessage</h4>
</body>
</html>