@using ToDoList.Models
@using ToDoList.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ToDoList
@model IndexViewModel

@{
    string userInfo = $"Id: {ViewData["Id"]}\nName: {ViewData["Name"]}\nEmail: {ViewData["Email"]}\n";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ToDoList</title>
</head>
<body>
    @if (Model.IsAdmin)
    {
        <div style="margin: 10px">
            <a href="/Admin/Index">Admin Page</a>
        </div>

        @if (Model.CanEditTasks == false)
        {
            <div style="padding: 10px">
                <h2>Admin mode</h2>
                <hr />
                <h3>Tasks for user:</h3>
                <span>
                    Id: @(ViewData["Id"])@("\n")
                </span>
                <br />
                <span>
                    Name: @(ViewData["Name"])@("\n")
                </span>
                <br />
                <span>
                    Email: @(ViewData["Email"])@("\n")
                </span>
                <br />
            </div>
        }
    }

    <div style="margin-bottom:20px">
        <h2 style="display: inline; padding: 10px">To Do List</h2>
        @if (Model.CanEditTasks)
        {
            <span><a href="/Home/CreateTask">Add</a></span>
        }
    </div>

    @if (Model.Tasks.Count() == 0)
    {
        <p>You haven't got anything to do.</p>
    }
    else
    {
        await Html.RenderPartialAsync("ViewTasks", Model);
    }

</body>
</html>