@using ToDoList.ViewModels
@model ErrorViewModel
@{
    Layout = null;
}

<body>
    <h2>Oops... An error has been occurred </h2>
    <hr />
    <p><b>Message: </b>@Model.Message</p>
    <p><b>StackTrace: </b>@Model.StackTrace</p>
</body>